
*.editorconfig

.vs/

Export/
FinalSuspect/obj
FinalSuspect/obj/
/FinalSuspect/obj/
FinalSuspect/Properties/PublishProfiles/
FinalSuspect/FodyWeavers.xsd

*Sponsor.xlsx
/Assets/~$Roles ID.xlsx
/FinalSuspect.sln
/FinalSuspect/obj/Debug/net6.0/ref/FinalSuspect.dll
/FinalSuspect/obj/Debug/net6.0/refint/FinalSuspect.dll
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.csproj.CoreCompileInputs.cache
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.dll
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.pdb
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.sourcelink.json
/FinalSuspect/obj/Release/net6.0/FinalSuspect.assets.cache
/FinalSuspect/obj/Debug/net6.0/GitHead.cache
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.assets.cache
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.csproj.AssemblyReference.cache
/FinalSuspect/obj/project.assets.json
/FinalSuspect/obj/project.nuget.cache
/FinalSuspect/obj/FinalSuspect.csproj.nuget.dgspec.json
/FinalSuspect/obj/FinalSuspect.csproj.nuget.g.props
/FinalSuspect/obj/Release/net6.0/GitHead.cache
/FinalSuspect/obj/Release/net6.0/GitInfo.cache
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.csproj.FileListAbsolute.txt
/FinalSuspect/obj/Release/net6.0/GitHead.cache
/FinalSuspect/obj/Release/net6.0/GitIsDirty.cache
*.zip
/FinalSuspect/obj/FinalSuspect.csproj.nuget.g.targets
/FinalSuspect/obj/Debug/net6.0/ref/FinalSuspect.dll
/FinalSuspect/obj/Release/net6.0/GitInfo.cache
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.csproj.CoreCompileInputs.cache
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.dll
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.pdb
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.sourcelink.json
/FinalSuspect/obj/Debug/net6.0/GitInfo.cache
/FinalSuspect/obj/Debug/net6.0/refint/FinalSuspect.dll
/FinalSuspect/obj/Release/net6.0/GitIsDirty.cache
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.assets.cache
/FinalSuspect/obj/Debug/net6.0/GitIsDirty.cache
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.csproj.AssemblyReference.cache
/FinalSuspect/obj/project.nuget.cache
/FinalSuspect/obj
/FinalSuspect/obj/Release/net6.0/FinalSuspect.assets.cache
/FinalSuspect/obj/Release/net6.0/FinalSuspect.csproj.AssemblyReference.cache
/FinalSuspect/obj/FinalSuspect.csproj.nuget.dgspec.json
/FinalSuspect/obj/project.assets.json
/FinalSuspect/obj/Debug/net6.0/GitHead.cache
/FinalSuspect/obj/Debug/net6.0/ref/FinalSuspect.dll
/FinalSuspect/obj/Debug/net6.0/refint/FinalSuspect.dll
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.dll
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.pdb
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.sourcelink.json
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.AssemblyInfo.cs
/FinalSuspect/obj/Debug/net6.0/FinalSuspect.AssemblyInfoInputs.cache
/FinalSuspect/obj/Debug/net6.0/GitInfo.cache
/FinalSuspect/obj/Release/net6.0/GitInfo.cache
/FinalSuspect/obj/Debug/net6.0/ref/FinalSuspect.dll
